html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 게시판
    link(href="/css/index.css" rel="stylesheet")
  body
    h1(align="center" class="title") 게시판
    table(class="Rectangle-1560-copy")
      thead(class="Rectangle-1560")
        tr
          th(class="postsNumber") No.
          th(colspan="4") 제목
          th(colspan="1") 작성자
          th(class="CN") 조회수
      tbody()
        -var RS=results;
        -var j= totalCount-skipSize +1;
        if(RS)
          each result in results
            tr
              - j--
              td(class="postsNumber")= j
              td(class="tdOne" colspan="4")
                a(href="/viewPage?id="+result._id)
                  span=result.title
              td(class="tdTwo" colspan="1")=result.UserName
              td(class="CN")=result.count
        else
          tr
            td(colspan="5" class="notPosts")="게시물이없습니다."
    -var i=start;
    unless isNaN(page)
      div(class="pageLink")
        unless page==1
          div(class="buttonsA")
            a(href="/?page="+1)
              button(class="start")="<<"
            a(href="/?page="+ (intPage -1))
              button(class="back")="< 이전 페이지"
        div
          while i<=end
            if(page == i)
              p(class="pageNum" style="color:#ff6d37")= i
            else
              a(href="/?page="+i class="pageNum")= i
            - i++
        unless page==pagination
          div(class="buttonsB")
            a(href="/?page="+(intPage +1))
              button(class="go")="다음 페이지 >" 
            a(href="/?page="+pagination)
              button(class="end")=">>"
    div(class="buttonLink")
      a(href='/write')
        button(class="WB") 글쓰기