html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 게시판
    link(href="/css/index.css" rel="stylesheet")
  body
    h1(align="center" class="title") 게시판
    table(class="Rectangle-1560-copy")
      thead(class="Rectangle-1560")
        tr(class="TR")
          th(colspan="4") 제목
          th(closepan="3") 작성자
      tbody
        each result in results
          tr
            td(class="tdOne" colspan="4")
              a(href="/viewPage?id="+result._id)
                span= result.title 
            td(colspan="3")= result.UserName
    -var i=start;
    div(class="pageLink")
      unless page==1
        a(href="/?page="+1)
          button() 처음으로
        a(href="/?page="+ (intPage -1))
          button()="<"
      while i<=end
        a(href="/?page="+i class="next-page")= i++
      unless page==pagination
        a(href="/?page="+(intPage +1))
          button()=">" 
        a(href="/?page="+pagination)
          button() 끝으로
    div(class="buttonLink")
      a(href='/write')
        button() 글쓰기